<div class="flex min-h-full justify-center mt-40 sm:px-6 lg:px-8">
    <div class="w-full max-w-xl lg:shrink-0 xl:max-w-2xl">
        <h1 class="flex justify-center text-4xl font-bold tracking-tight text-fuchsia-600 sm:text-4xl">Ajouter un évènement : </h1>
        <br>
        <div class="bg-fuchsia-200 shadow sm:rounded-lg mt-7">
          <div class="px-4 py-5 sm:p-6">
        <form action="">
            <div>
                <div class="mt-4">
                  <input id="name" name="name" type="text" placeholder="Nom de l'évènement"  class="block w-full rounded-md border-0 py-1.5 text-gray-900 font-bold shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                </div>
              </div>
              <div>
                <div class="mt-8">
                  <input id="startDate" name="startDate" type="date" class="block w-full rounded-md border-0 py-1.5 text-gray-900 font-bold shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                </div>
              </div>
              <div>
                <div class="mt-8">
                  <input id="endDate" name="endDate" type="date" class="block w-full rounded-md border-0 py-1.5 text-gray-900 font-bold shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                </div>
              </div>
              <div>
                <div class="mt-8">
                  <input id="maxGuest" name="maxGuest" type="number" placeholder="Nombre d'invités max" class="block w-full rounded-md border-0 py-1.5 text-gray-900 font-bold shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                </div>
              </div>
              <div>
                <div class="mt-8">
                  <input id="description" name="description" placeholder="Description de l'évènement" type="textarea" class="block w-full rounded-md border-0 py-1.5 text-gray-900 font-bold shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                </div>
              </div>
              <div class="mt-10 flex justify-center">
                  <button type="button" class="rounded-md bg-indigo-600 px-3 py-2 text-xl font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">Créer l'évènement</button>
                </div>
        </form>
            </div>
        </div>
    </div>
