<div class="flex min-h-full justify-center mt-40 sm:px-6 lg:px-8">
<div class="w-full max-w-xl lg:shrink-0 xl:max-w-2xl">
    <h1 class="flex justify-center text-4xl font-bold tracking-tight text-fuchsia-600 sm:text-4xl">Décourez les prochains évènements</h1>
    <br>
    <div class="mt-2 flex justify-center">
        <button routerLink="/events/create-events" routerLinkActive="router-link-active"  type="button" class="rounded-md bg-indigo-600 px-5 py-3 text-xl font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">Ajouter un évènement</button>
      </div>
    <div class="bg-fuchsia-200 shadow sm:rounded-lg mt-7">
      <div class="px-4 py-5 sm:p-6">
        <h3 class="flex justify-center text-2xl font-bold leading-6 text-blue-700">REACT POUR LES NOOBS</h3>
        <div class="mt-8 max-w-xl text-xl text-gray-800">
          <p>Séminaire sur les bases de React, créer son premier projet.</p>
          <div class="mt-2 flex justify-center">
              <p class="flex justify-center mt-8 max-w-xl text-sm text-gray-800 font-bold">Le 21/09/2023</p>
            </div>
          <div class="mt-2 flex justify-center">
              <button type="button" class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">Plus de détails</button>
            </div>
        </div>
    </div>
</div>
<div class="w-full max-w-xl lg:shrink-0 xl:max-w-2xl">
    <div class="bg-fuchsia-200 shadow sm:rounded-lg mt-7">
      <div class="px-4 py-5 sm:p-6">
        <h3 class="flex justify-center text-2xl font-bold leading-6 text-blue-700">REACT POUR LES NOOBS</h3>
        <div class="mt-8 max-w-xl text-xl text-gray-800">
          <p>Séminaire sur les bases de React, créer son premier projet.</p>
          <div class="mt-2 flex justify-center">
              <p class="flex justify-center mt-8 max-w-xl text-sm text-gray-800 font-bold">Le 21/09/2023</p>
            </div>
          <div class="mt-2 flex justify-center">
              <button type="button" class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">Plus de détails</button>
            </div>
        </div>
    </div>
</div>

